.SignUpBtn {
  padding: 7px;
  margin: 0 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.SignUpBtn:hover {
  background-color: #00f8e0;
  transition-duration: 0.5s;
}

.SignUpMessageBtn {
  background-color: rgb(255, 255, 255);
  padding: 10px 40px;
  font-size: larger;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.SignUpMessageBtn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}

.LogInBtn {
  background-color: #00f8e0;
  padding: 7px;
  margin: 0 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.LogInBtn:hover {
  background-color: white;
  transition-duration: 0.5s;
}