.MenuItem {
  padding: 5px;
  margin: 0 10px;
  list-style: none;
}

.MenuItem > a {
  text-decoration: none;
  white-space: nowrap;
  font-size: large;
  color: azure;
}

.MenuItem > a:hover {
  color:#9cf9ff;
  transition-duration: 0.3s;
}