form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  border-radius: 12px;
  background-color: white;
}

form > input {
  padding: 7px;
  margin: 7px 5px;
  width: 300px;
}

form > button {
  padding: 7px;
  margin: 7px;
  width: 300px;
  background-color: rgb(211, 211, 211);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

form > button:hover {
  background-color: #57f4ff;
  transition-duration: 0.5s;
}
