.Login_Bar > button {
  padding: 7px;
  margin: 0 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.Login_Bar > .Create_acc_btn {
  background-color: #9cf9ff;
}

.Create_acc_btn:hover {
  background-color: white;
  transition-duration: 0.5s;
}

.Sign_in_btn:hover {
  background-color: #9cf9ff;
  transition-duration: 0.3s;
}