.LoginBar > button {
  padding: 7px;
  margin: 0 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.LoginBar > .CreateAccBtn {
  background-color: #9cf9ff;
}

.CreateAccBtn:hover {
  background-color: white;
  transition-duration: 0.5s;
}

.SignInBtn:hover {
  background-color: #9cf9ff;
  transition-duration: 0.5s;
}