header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0 10px;
  background-color:#25252b;
}

/* @media screen and (max-width: 1000px) {
  header {
    flex-direction: column;
  }
} */