.SignUpMessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,255,230,1) 100%);
  z-index: 0;
}

.SignUpMessage > span {
  color: white;
  font-size: larger;
}
