.Player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 6px;
  margin: 0 10px;
}

.ControlsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PlayerButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.PlayerButtons > div {
  margin: 0 15px;
  cursor: pointer;
}

.PlayerButtons > div:hover {
  color:#00f8e0;
  transition-duration: 0.3s;
}

.ProgressBar {
  width: 550px;
}

.ProgressBarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ProgressBarWrapper > div {
  margin: 0 7px;
}

.PlayerDetails {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DetailsInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.DetailsImg > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.DetailsTitle {
  font-size: larger;
  font-weight: bolder;
}

.VolumeSlider {
  display: flex;
  justify-content: center;
}

.LikeButton {
  cursor: pointer;
  margin-left: 10px;
}

input[type=range] {
  cursor: pointer;
}
