.PlayerDetails {
  display: flex;
  flex-direction: row;
}

.DetailsImg > img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.DetailsInfo {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-left: 5px;
}

.DetailsTitle {
  font-size: larger;
}